
.con-1 {
  background-color: red;
  font-size: 20px;
}

h1 {
  color: blue;
}

.pic {
  height: 100px;
  width: 100px;
}
.name {
  margin: 0px;
  color: blue;
  font-weight: bold;
}

.designation {
  margin: 0px;
  font-weight: bold;
}
