
.con-1 {
  background-color: red;
  font-size: 20px;
}

h1 {
  color: blue;
}

.pic {
  height: 100px;
  width: 100px;
}
.name {
  margin: 0px;
  color: blue;
  font-weight: bold;
}

.designation {
  margin: 0px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact {
  margin-top: 0px;
  margin-bottom: 0px;
}
.phone {
  color: blue;
  margin: 0px;
}
.mobile {
  color: red;
}
.web {
  margin: 0px;
}
.address {
  margin: 0px;
}


.fa-twitter-square {
  color: green;
}
.con-3 {
  background-color: yellow;
  text-align: inherit;
  margin-left: 110px;
